@media (max-width: 991px){
	.banner-slider .lSAction > .lSPrev{
		left: 28%;
	}
	.banner-slider .lSAction > .lSNext{
		right: 28%;
	}
	.about-hotel .about-left{
		padding-right: 30px;
	}
	.about-hotel .about-left .map-ht .ht-address{
		font-size: 14px;
    	margin-bottom: 15px;
	}
	.about-hotel .about-left .map-ht a.view-map{
		padding-left: 0;
		font-size: 14px;
	}
	.about-hotel .about-left .map-ht {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.hang-phong{
		padding-top: 30px;
	}
	.hang-phong .content-hp {
	    display: block;
	}
	.hang-phong .details-hp{
		border: none;
		padding: 0 15px 15px;
	}
	.hang-phong .chi-tiet-hp{
		border: 1px solid #b5b5b5;
		padding: 30px;
	}
	.hang-phong .slider-hp{
		padding-right: 15px;
	}
	.hang-phong .chi-tiet-hp .dat-phong {
		position: initial;
		text-align: center;
	}
	/*css-voucher*/
	.buy-voucher .item-voucher .price-voucher{
		right: 20%;
	}
	.contact-us .form-contact {
	    padding: 0px;
	}



	.contact-us .contact-right{
		 float:none;
	}
}
@media (max-width: 767px) {


}
@media (max-width: 500px) {
	.banner-slider .lSAction > .lSPrev {
		left: 5%;
	}
	.banner-slider .lSAction > .lSNext {
		right: 5%;
	}
	.banner-slider .btn-xem-tat-ca{
		display: none;
	}
	.about-hotel {
		padding-top: 40px;
	}
	.title-hotel h2{
		font-size: 24px;
	}
	.about-hotel .about-right .ht-form{
		display: none;
	}
	.hang-phong .btn.btn-chi-tiet{
		display: none;
	}
	.hang-phong .chi-tiet-hp{
		padding: 20px;
	}
	.hang-phong .header-detail{
		margin: 0;
	}
	.hang-phong .header-detail .title-detail{
		font-size: 18px;
		margin-top: 0;
		padding-left: 0px;
	}
	.hang-phong .header-detail .thong-tin-hp {
		line-height: 18px;
		font-size: 14px;
	}
	.hang-phong .tthp-detail{
		display: none;
	}
	.hang-phong .sale-hp .chi-tiet-sale .fa {
		font-size: 6px;
		height: 12px;
		width: 12px;
		margin-right: 3px;
		line-height: 10px;
	}
	.hang-phong .sale-hp .chi-tiet-sale .title-sale{
		font-size: 14px;
	}
	.hang-phong .sale-hp .chi-tiet-sale .gia-sale{
		font-size: 14px;
	}
	.hang-phong .sale-hp .chi-tiet-sale .time-sale{
		display: none;
	}
	.hang-phong .chi-tiet-hp .dat-phong select {
		width: 155px;
	}
	.hang-phong .chi-tiet-hp .dat-phong .btn-dat-phong{
		width: 155px;
		margin-left: 20px;
	}
	.ds-khach-san{
		display: none;
	}
	.thong-tin-ct .ndtt-right{
		display: none;
	}
	.thong-tin-ct .title-hotel span {
		color: #bcad7b;
		display: block;
	}
	.thong-tin-ct {
		padding-bottom: 50px;
	}
	/*css-voucher*/
	.content-voucher{
		font-size: 14px;
	}
	.quy-dinh .room tr>td{
		padding: 3px;
	}
	.voucher-left .title h2, .title-voucher h2{
		font-size: 24px;
		line-height: 30px;
	}
	.content-voucher .section {
		padding-top: 30px;
	}
	.content-voucher .title-voucher{
		margin-bottom: 0;
	}
	.buy-voucher .item-voucher .item{
		line-height: 30px;
		padding: 20px 0 60px;
		font-size: 13px;
	}
	.buy-voucher .item-voucher .price-voucher {
		right: 0;
		top: 18%;
	}
	.buy-voucher .item-voucher .buy-now{
		top: 50%;
		padding: 5px;
	}
	.buy-voucher .item-voucher .sale{
		margin-right: 5px;
	}
	.buy-voucher .item-voucher .price{
		margin-right: 0;
	}
	.content-voucher .form-voucher{
		display: none;
	}
	.content-voucher .sidebar-voucher{
		display: none;
	}
	.contact-us .form-contact {
	    padding: 10px 0px 0;
	}
	.contact-us .contact-address h4 {
	    padding: 12px 0;
	}
	.contact-us .form-contact input {
	    height: 35px;
	    padding: 3px 20px;
	    margin-bottom: 5px;
	}
	.contact-us .form-contact button {
	    height: 35px;   
        width: 100px;
	}	
	.contact-us .form-contact textarea {
	    margin-bottom: 15px;
	}
	.contact-us .contact-content {
	    padding-top: 22px;
	}
	.contact-us .title-contact h2 {
	    font-size: 27px;
    }

    .form-dky input[type='text'], .form-dky input[type='email'], .form-dky textarea {
	    padding: 6px 10px;
	    margin-bottom: 20px;
	}
	 .form-dky input[type='text']::placeholder,
	 .form-dky input[type='email']::placeholder,
	 .form-dky textarea::placeholder{
          font-size: 14px;
	 }
	.form-dky button {
	    padding: 5px 15px;
	    font-size: 18px;
	}
	.quy-dinh .policy {
	    font-size: 16px;
	    line-height: 1.4;
	}
	.content-voucher .content-right {
	    padding-top: 0px;
	    margin-bottom: 50px;
	}
	.content-voucher .quy-dinh {
	    padding-bottom: 9px;
	}
	.quy-dinh .room, .quy-dinh .room-detail {
	    padding-bottom: 32px;
	}
}
@media (min-width: 1200px) {
    .container {
        width: 1412px;
        max-width: 100%;
    }
}