h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  line-height: 1;
}
img {
  max-width: 100%;
}
.form-s-overlay {
  position: fixed;
  background: #00000073;
  width: 100%;
  cursor: pointer;
}
.form-s-overlay.achier {
  z-index: 9;
  height: 100%;
}
a:hover {
  text-decoration: none;
}
.header-main .logo-header {
  float: left;
  position: relative;
  top: -18px;
}
.logo-header img {
  max-height: 40px;
}
.header-main .logo-header .text-logo {
  display: inline-block;
  margin: 0;
}
.header-main .main-navigation .menu-container {
  float: right;
}
.header-main .main-navigation .menu-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-main .main-navigation .menu-container ul.menu > li {
  float: left;
  margin-right: 44px;
  cursor: pointer;
  height: 52px;
}
.header-main .main-navigation .menu-container ul.menu > li:last-child {
  margin-right: 0;
}
.header-main .main-navigation .menu-container ul.menu > li > a {
  font-size: 19px;
  position: relative;
  padding: 6px 0;
  display: block;
  padding-right: 22px;
  color: #fff;
  text-transform: uppercase;
}
.header-main .main-navigation .menu-container ul.menu > li:last-child a {
  padding-right: 0;
}
.header-main .main-navigation .menu-container ul.menu > li.menu-item-has-children > a:after {
  content: "";
  background: url('../images/dowl1.png') no-repeat;
  width: 14px;
  position: absolute;
  right: 0;
  top: 16px;
  display: block;
  height: 7px;
}
.header-main .main-navigation .menu-container ul.menu > li:hover > a:after,
.header-main .main-navigation .menu-container ul.menu > li.current-menu-item > a:after,
.header-main .main-navigation .menu-container ul.menu > li.menu-item-has-children > a:hover:after {
  background: url('../images/dowl.png');
}
.header-main .main-navigation .menu-container ul.menu > li:hover > a,
.header-main .main-navigation .menu-container ul.menu > li.current-menu-item > a {
  color: #bcad7a;
}
.header-main .logo-main-menu {
  position: relative;
}
.header-main .logo-main-menu .max-mega-menu .sub-mega-menu {
  position: absolute;
  top: 100%;
  width: 814px;
  left: 0;
  z-index: 9999;
  padding: 44px;
  background-color: #272727d1;
  right: 0;
  margin: auto;
  display: none;
}
.header-main .logo-main-menu .max-mega-menu .sub-mega-menu > li.menu-item {
  width: 33.33%;
  float: left;
}
.header-main .logo-main-menu .max-mega-menu .sub-mega-menu > li.menu-item > a {
  color: #bcad7a;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.header-main .logo-main-menu .max-mega-menu .sub-mega-menu-children > li.menu-item a {
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  display: block;
}
.header-main .logo-main-menu .max-mega-menu .sub-mega-menu-children > li.menu-item a:hover {
  color: #bcad7a;
}
.header-main .main-navigation .menu-container ul.menu > li:hover .sub-mega-menu {
  display: block;
}
.container-st {
  width: 932px;
  max-width: 100%;
  margin: auto;
}
.banner-form-slider {
  position: relative;
}
.banner-form-slider .slider-header .lSAction > a {
  display: none;
}
.banner-form-slider .slider-header,
.banner-form-slider .home-slides {
  max-height: 650px;
  overflow: hidden;
}
.banner-form-slider .form-submit-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 457px;
}
.banner-form-slider .form-submit-header .container-st .row-st {
  padding-top: 6%;
}
.banner-form-slider .form-submit-header .container-st .text-form-header {
  margin-top: 0;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 70px;
  font-family: "Times New Roman";
}
.banner-form-slider .form-submit-header .container-st .text-form-header span {
  display: block;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
.banner-form-slider .form-submit-header .container-st .text-form {
  position: relative;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group {
  width: 285px;
  float: left;
  margin-right: 37px;
  margin-bottom: 36px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group:last-child {
  margin-right: 0;
  width: 288px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group input[type="text"] {
  height: 66px;
  border-radius: 0;
  border: 0;
  color: #a3a3a3;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  padding: 6px 20px;
  font-style: italic;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group input[type="text"]::placeholder {
  color: #a3a3a3;
  font-size: 18px;
  font-style: italic;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .click-text.achier {
  z-index: 99;
  position: relative;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group.date-form {
  position: relative;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group.date-form input[type="text"] {
  padding-right: 66px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group.date-form .icon-date {
  background: url(../images/date-f.png) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 67px;
  display: none;
  padding: 22px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post.achier {
  z-index: 99;
  display: block;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .text-search-post {
  font-size: 20px;
  font-family: "Times New Roman";
  font-weight: 400px;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory {
  margin-bottom: 22px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory:nth-child(3n+1) {
  clear: left;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory .box-masory-fg {
  display: flex;
  align-items: center;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory .box-masory-fg .post-thumbnail {
  width: 92px;
  margin-right: 18px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory .box-masory-fg .entry .post-box-title {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory .box-masory-fg .entry .post-box-title:hover {
  color: #bcad7a;
}
.banner-form-slider .form-submit-header .container-st .text-form .form-group .search-post .post-box .box-masory .box-masory-fg .entry .phong {
  color: #000000;
  font-size: 18px;
}
.banner-form-slider .form-submit-header .container-st .submit-form {
  clear: both;
  text-align: center;
}
.banner-form-slider .form-submit-header .container-st .submit-form button[type="submit"] {
  height: 66px;
  width: 287px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  background-color: #bcad7a;
  color: #fff;
  border-radius: 0;
  border: 0;
  word-spacing: 4px;
  letter-spacing: 2px;
  outline: none;
}
.banner-form-slider .form-submit-header .container-st .submit-form button[type="submit"]:hover {
  background-color: #a8975d;
}
.menu-icon {
  margin-right: 13%;
}
.menu-icon .menu-open {
  width: 43px;
  cursor: pointer;
}
.menu-icon .menu-open .icons {
  display: block;
  height: 4px;
  background-color: #bcad7a;
  margin-bottom: 9px;
}
.menu-icon .menu-open .icons:last-child {
  margin-bottom: 0;
}
.main-navigation-mobile {
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 999;
  width: 280px;
  height: 100%;
  overflow-y: auto;
  transition: all ease .3s;
  overflow-x: hidden;
  background-color: #000000f5;
}
.main-navigation-mobile.show-mn {
  left: 0;
}
.main-navigation-mobile .menu-close {
  cursor: pointer;
  padding: 10px;
  background: #b3985f;
  text-align: left;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
  overflow: hidden;
  position: relative;
}
.main-navigation-mobile .menu-close .icon-close {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 5px;
  top: 8px;
}
.main-navigation-mobile .menu-close .icon-close img {
  width: 22px;
  height: 22px;
}
.main-navigation-mobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation-mobile ul .current-menu-item > a {
  color: #bcad7a;
}
.main-navigation-mobile ul li {
  position: relative;
  border-bottom: 1px solid #2c2c2c;
}
.main-navigation-mobile ul li:last-child {
  border-bottom: 0px solid;
}
.main-navigation-mobile ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 8px 29px 8px 15px;
  text-transform: uppercase;
  z-index: 9999;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(10);
  position: relative;
}
.main-navigation-mobile ul li a:hover {
  color: #bcad7a;
}
.main-navigation-mobile ul ul {
  border-top: 1px solid #2c2c2c;
}
.main-navigation-mobile ul ul li a {
  text-transform: none;
}
.main-navigation-mobile ul ul li a:before {
  content: "\f101";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 4px;
}
.main-navigation-mobile ul ul.sub-mega-menu > li > a {
  color: #bcad7a;
  text-transform: uppercase;
  font-weight: bold;
}
.main-navigation-mobile ul ul.sub-mega-menu > li > a:before {
  display: none;
}
.main-navigation-mobile .sub-open {
  position: absolute;
  right: 0;
  display: inline-block;
  top: 0;
  z-index: 9999;
  padding: 8px 8px 7px;
  cursor: pointer;
  color: #fff;
}
.main-navigation-mobile .sub-open:after {
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  content: "\f107";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
.main-navigation-mobile .sub-open.sub-opend:after {
  content: "\f106";
}
.main-navigation-mobile ul.menu > li > ul.sub-menu {
  display: none;
}
/*--------------------------------------------------------------
# content trang chủ
--------------------------------------------------------------*/
.endow {
  background-color: #ececec;
}
.endow .container {
  display: flex;
  padding: 38px 0 34px;
}
.endow .container .box-icons {
  flex-grow: 4;
  margin-right: 50px;
  text-align: center;
}
.endow .container .box-icons:last-child {
  margin-right: 0px;
}
.endow .container .box-icons .entry {
  font-size: 20px;
  color: #282828;
  font-weight: 400;
}
.title-fieldset {
  padding: 53px 0 55px;
  border-bottom: 1px solid #c9bd94;
}
.title-fieldset fieldset {
  border: 1px solid #c9bd94;
  text-align: center;
}
.title-fieldset fieldset legend {
  border: 0;
  padding: 0 64px;
  margin: auto;
  position: relative;
  display: inline-block;
  width: auto;
  text-align: center;
  top: -26px;
  font-family: "Times New Roman";
  font-size: 40px;
  color: #282828;
  line-height: 1.2;
}
.title-fieldset fieldset legend span {
  display: block;
  font-size: 49px;
  font-family: 'Montserrat', sans-serif;
  color: #bcad7a;
  font-weight: 300;
}
.title-fieldset fieldset .thse {
  padding: 0 94px 44px;
  font-size: 18px;
}
.destination {
  background: url('../images/banner-dd.png') no-repeat;
  padding: 48px 0 76px;
  background-repeat-y: initial;
}
.destination .row-dd {
  margin-left: -2px;
  margin-right: -2px;
}
.destination .row-dd .title-destination {
  text-align: center;
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 36px;
  font-family: "Times New Roman";
}
.destination .row-dd .list-post-tab .nav-tabs {
  border-bottom: 0;
  text-align: center;
  margin-bottom: 35px;
}
.destination .row-dd .list-post-tab .nav-tabs li {
  float: none;
  display: inline-block;
}
.destination .row-dd .list-post-tab .nav-tabs li a {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  padding: 16px 30px;
  border-radius: 0;
  text-transform: uppercase;
}
.destination .row-dd .list-post-tab .nav-tabs li a:hover {
  border-radius: 0;
  background: transparent;
  border: 1px solid #bcad7a;
}
.destination .row-dd .list-post-tab .nav-tabs li.active a {
  border-radius: 0;
  background: transparent;
  border: 1px solid #bcad7a;
}
.destination .row-dd .list-post-tab .nav-tabs li:last-child a {
  margin-right: 0;
}
.destination .row-dd .list-post {
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 2px;
}
.destination .row-dd .list-post .post-contenr {
  position: relative;
}
.destination .row-dd .list-post .post-contenr .media-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000007a;
  padding: 18px 28px;
}
.destination .row-dd .list-post .post-contenr .media-list h3.post-box-title {
  margin: 0;
  margin-bottom: 2px;
}
.destination .row-dd .list-post .post-contenr .media-list h3.post-box-title a {
  color: #bcad7a;
  display: block;
  font-size: 18px;
}
.destination .row-dd .list-post .post-contenr .media-list h3.post-box-title a:hover {
  color: #fff;
}
.sign-up-for {
  background: url('../images/banner-uu-dai.png') no-repeat;
  text-align: center;
  height: 852px;
  display: flex;
  align-items: center;
}
.sign-up-for .container {
  max-width: 100%;
}
.sign-up-for .page-de .title-favorably {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 42px;
}
.sign-up-for .page-de .text-fd {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}
.sign-up-for .page-de .link-mo {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 46px;
  background-color: #bcad7a;
  line-height: 1;
}
.sign-up-for .page-de .link-mo:hover {
  background-color: #a8975d;
}
.voucher {
  background-color: #ececec;
  padding: 52px 0;
}
.voucher h2.title-voucher {
  text-align: center;
  margin-bottom: 62px;
  font-size: 40px;
  margin-top: 0;
  font-family: "Times New Roman";
  text-transform: uppercase;
}
.voucher .course-cate .post-listing {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 10px #cdcdcd;
  align-items: center;
  margin-bottom: 56px;
}
.voucher .course-cate .post-box,
.voucher .course-cate .thumb-post {
  width: 50%;
}
.voucher .course-cate .post-box {
  padding: 0px 86px 0 116px;
}
.voucher .course-cate .post-box .taxonomy {
  display: inline-block;
  background-color: #ececec;
  padding: 4px 26px;
  color: #272727;
  margin-bottom: 25px;
}
.voucher .course-cate .post-box .taxonomy:hover {
  color: #bcad7a;
}
.voucher .course-cate .post-box .title {
  margin-top: 0;
  margin-bottom: 10px;
  height: 56px;
}
.voucher .course-cate .post-box .title a {
  text-transform: uppercase;
  color: #bcad7a;
  font-weight: 600;
}
.voucher .course-cate .post-box .title a:hover {
  color: #a8975d;
}
.voucher .course-cate .post-box .describe {
  font-size: 18px;
  color: #282828;
  text-align: justify;
  font-weight: 400;
  height: 162px;
}
.voucher .course-cate .post-box a.text-post-link {
  color: #fff;
  background-color: #bcad7a;
  display: inline-block;
  padding: 10px 38px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# List khách sạn
--------------------------------------------------------------*/
.baner-archive {
  position: relative;
}
.baner-archive:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #0000009e;
}
.baner-archive .entry-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.baner-archive .entry-title h1.page-title {
  text-align: center;
  font-size: 70px;
  margin: 0;
  color: #fff;
  font-family: "Times New Roman";
}
.result-count {
  padding: 34px 0 0px;
  border-bottom: 1px solid #ececec;
}
.result-count .search-sort {
  position: relative;
  top: 1px;
  z-index: 9;
}
.result-count .sort {
  float: left;
  display: inline-flex;
}
.result-count .sort p {
  margin-bottom: 0;
  padding-top: 12px;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 30px;
  float: left;
}
.result-count .sort .sap-xep {
  float: left;
  margin-right: 40px;
}
.result-count .sort .sap-xep .form-group {
  position: relative;
  margin-bottom: 0;
}
.result-count .sort .sap-xep ul,
.result-count .sort .sap-xep select {
  border: 1px solid #bcbcbc;
  height: 50px;
  width: 240px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  box-shadow: none;
}
.result-count .sort .sap-xep select {
  padding-left: 20px;
  padding-right: 48px;
}
.result-count .sort .sap-xep select option {
  padding: 5px 20px;
  min-height: auto;
  height: 33px;
}
.result-count .sort .sap-xep .icons-dow {
  display: inline-block;
  width: 48px;
  position: absolute;
  right: 1px;
  top: 27%;
  text-align: center;
  background: #fff;
}
.result-count .sort .sap-xep ul {
  margin: 0;
  list-style: none;
}
.result-count .sort .sap-xep ul li.init {
  line-height: 48px;
  padding-left: 20px;
  padding-right: 48px;
}
.result-count .sort .sap-xep ul li:not(.init) {
  display: none;
  background-color: #fff;
  padding: 0px 20px;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #bcbcbc;
  border-top: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
}
.result-count .sort .sap-xep ul li:not(.init):hover {
  background: #169aff;
  color: #fff;
}
.result-count .sort .sap-xep ul li:not(.init):last-child {
  border-bottom: 1px solid #bcbcbc;
}
.result-count .tim-kiem-click {
  padding: 15px 16px 45px;
  border: 1px solid #fff;
  border-bottom-color: #ececec;
  float: left;
}
.result-count .tim-kiem-click.achier {
  border: 1px solid #bcbcbc;
  border-bottom-color: #fff;
}
.result-count .tim-kiem-click a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px solid #afafaf;
}
.result-count .tim-kiem-click a span {
  display: inline-block;
  margin-left: 12px;
}
.result-count .tim-kiem-click a:hover {
  color: #bcad7a;
}
.tim-kiem-nca {
  padding: 35px 37px;
  margin-top: -1px;
  display: none;
  border: 1px solid #a3a3a3;
}
.tim-kiem-nca form .col-e {
  width: 19%;
  float: left;
}
.tim-kiem-nca form .col-e .title-search {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 27px;
}
.tim-kiem-nca form .col-e .form-group {
  margin-bottom: 26px;
}
.tim-kiem-nca form .col-e .form-group:last-child {
  margin-bottom: 0px;
}
.tim-kiem-nca form .col-e .form-group label {
  font-weight: 300;
  font-size: 16px;
  color: #000;
  margin-left: 12px;
  position: relative;
  top: -1px;
  margin-bottom: 0;
}
.tim-kiem-nca form .col-e.danh-gia .form-group label {
  color: #bcad7a;
}
.tim-kiem-nca form .col-dh {
  width: 24%;
}
.bai-viet-khach-san.achier {
  display: none;
}
.ket-qua-tim-kiem-khach-san {
  display: none;
}
.ket-qua-tim-kiem-khach-san.achier {
  display: block;
}
.list-hotel {
  padding-top: 72px;
}
.list-hotel .contenr-hotel {
  margin-bottom: 72px;
}
.list-hotel .contenr-hotel .thumbnail-hotel {
  width: 40%;
  position: relative;
  float: left;
}
.list-hotel .contenr-hotel .thumbnail-hotel .grup-images {
  position: absolute;
  bottom: 10px;
  right: 18px;
  display: inline-block;
  margin-bottom: 0;
}
.list-hotel .contenr-hotel .thumbnail-hotel .grup-images img {
  height: auto;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale {
  position: absolute;
  top: 15px;
  left: 0;
  display: inline-block;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span {
  display: inline-block;
  background-color: #bcad7b;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span .hovera {
  background: url(../images/wos.png) no-repeat;
  background-position: 2px 0px;
  width: 23px;
  height: 27px;
  position: relative;
  top: 7px;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos {
  float: left;
  margin-right: 1px;
  padding: 0 8px;
  position: relative;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos .tooltiptexts {
  visibility: hidden;
  width: 308px;
  background-color: #fff;
  color: #000;
  padding: 15px;
  border: 1px solid #bcad7b;
  position: absolute;
  z-index: 99;
  display: inline-block;
  bottom: 125%;
  height: auto;
  text-align: left;
  line-height: 1.3;
  font-weight: 300;
  left: 137%;
  font-size: 14px;
  margin-left: -60px;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos .tooltiptexts::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 6%;
  margin-left: -8px;
  border-width: 9px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos .tooltiptexts:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 6%;
  margin-left: -10px;
  border-width: 11px;
  border-style: solid;
  border-color: #bcad7b transparent transparent transparent;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos:hover .tooltiptexts {
  visibility: visible;
}
.list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos:hover .hovera {
  background: url(../images/wos1.png) no-repeat;
  background-position: 2px 0px;
}
.list-hotel .contenr-hotel .text-box {
  width: 60%;
  float: left;
  padding-left: 72px;
}
.list-hotel .contenr-hotel .text-box h3 {
  margin-bottom: 18px;
}
.list-hotel .contenr-hotel .text-box h3 a {
  font-weight: 500;
  font-size: 30px;
  color: #bcad7a;
}
.list-hotel .contenr-hotel .text-box h3 a:hover {
  color: #a0915d;
}
.list-hotel .contenr-hotel .text-box .danh-gia {
  margin-bottom: 24px;
}
.list-hotel .contenr-hotel .text-box .danh-gia i {
  margin-right: 4px;
}
.list-hotel .contenr-hotel .text-box .map {
  font-size: 16px;
  font-weight: 300;
  color: #a3a3a3;
}
.list-hotel .contenr-hotel .text-box .map img {
  margin-right: 16px;
}
.list-hotel .contenr-hotel .text-box .price {
  margin-bottom: 22px;
}
.list-hotel .contenr-hotel .text-box .price ins {
  text-decoration: none;
  margin-right: 10px;
}
.list-hotel .contenr-hotel .text-box .price .price-amount {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.list-hotel .contenr-hotel .text-box .price del {
  color: #a3a3a3;
}
.list-hotel .contenr-hotel .text-box .price del .price-amount {
  font-weight: 300;
  font-size: 16px;
  color: #a3a3a3;
}
.list-hotel .contenr-hotel .text-box .prices {
  display: inline-block;
  position: relative;
  background-color: #bbac7a;
  height: 60px;
  padding: 5px 0;
  margin-bottom: 23px;
}
.list-hotel .contenr-hotel .text-box .prices:before {
  content: "";
  background: url(../images/borde-le.png) no-repeat;
  width: 19px;
  height: 60px;
  float: left;
  position: relative;
  top: -5px;
  display: inline-block;
}
.list-hotel .contenr-hotel .text-box .prices:after {
  content: "";
  background: url(../images/borde-ri.png) no-repeat;
  width: 19px;
  float: right;
  display: inline-block;
  height: 60px;
  position: relative;
  top: -5px;
}
.list-hotel .contenr-hotel .text-box .prices span {
  display: inline-block;
  height: 50px;
  min-width: 137px;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
  border-top: 1px dotted #666153;
  border-bottom: 1px dotted #666153;
}
.list-hotel .contenr-hotel .text-box .noi-dung {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin-bottom: 35px;
}
.list-hotel .contenr-hotel .text-box .mox-link {
  margin-bottom: 0;
}
.list-hotel .contenr-hotel .text-box .mox-link a {
  display: inline-block;
  padding: 14px 42px;
  border: 1px solid #d7d7d7;
  background-color: #ececec;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-right: 53px;
}
.list-hotel .contenr-hotel .text-box .mox-link a:hover {
  background-color: #dadada;
}
.list-hotel .contenr-hotel .text-box .mox-link a:nth-child(2) {
  border: 1px solid #bcad7b;
  background-color: #bcad7b;
  color: #fff;
  margin-right: 0;
}
.list-hotel .contenr-hotel .text-box .mox-link a:nth-child(2):hover {
  border: 1px solid #a0915d;
  background-color: #a0915d;
}
.ket-qua-tim-kiem-khach-san .list-hotel .contenr-hotel .text-box h3 {
  margin-bottom: 5px;
}
.ket-qua-tim-kiem-khach-san .list-hotel .contenr-hotel .text-box .noi-dung {
  margin-bottom: 24px;
}
.ket-qua-tim-kiem-khach-san .contenr-hotel {
  box-shadow: 0px 0px 10px #cdcdcd;
  display: flex;
  align-items: center;
}
.pagenavi {
  padding: 40px 0 104px;
  border-top: 1px solid #ececec;
}
.pagenavi .page-numbers {
  margin: 0;
  text-align: right;
  list-style: none;
  padding: 0;
}
.pagenavi .page-numbers li {
  display: inline-block;
  margin-right: 23px;
}
.pagenavi .page-numbers li:last-child {
  margin-right: 0;
}
.pagenavi .page-numbers li span,
.pagenavi .page-numbers li a {
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #ececec;
  color: #000;
}
.pagenavi .page-numbers li span:hover,
.pagenavi .page-numbers li a:hover {
  background-color: #bcad7b;
  color: #fff;
}
.pagenavi .page-numbers li span {
  background-color: #bcad7b;
  color: #fff;
}
/*--------------------------------------------------------------
# list voucher
--------------------------------------------------------------*/
.bai-viet.achier {
  display: none;
}
.ket-qua-tim-kiem {
  display: none;
}
.ket-qua-tim-kiem.achier {
  display: block;
}
.list-voucher {
  margin-top: 58px;
}
.list-voucher .contenr-voucher {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 8px #c7c1c1;
  margin-bottom: 60px;
}
.list-voucher .contenr-voucher .thumbnail-voucher {
  width: 48%;
}
.list-voucher .contenr-voucher .text-box {
  width: 52%;
  padding-right: 92px;
  padding-left: 120px;
}
.list-voucher .cac-tien-ich {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}
.list-voucher .cac-tien-ich .tien-ich {
  position: relative;
  margin-right: 42px;
  margin-bottom: 0;
}
.list-voucher .cac-tien-ich .tien-ich:last-child {
  margin-right: 0;
}
.list-voucher .cac-tien-ich .tien-ich:hover .tsdf {
  visibility: visible;
}
.list-voucher .cac-tien-ich .tsdf {
  visibility: hidden;
  width: 120px;
  background-color: #bcad79;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.list-voucher .cac-tien-ich .tsdf::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #bcad78 transparent transparent transparent;
}
.list-voucher .text-box .chuyen-muc {
  display: inline-block;
  background-color: #ececec;
  padding: 4px 26px;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 25px;
  text-decoration: none;
}
.list-voucher .text-box .chuyen-muc:hover {
  color: #bcad7a;
}
.list-voucher .text-box h3 {
  margin-bottom: 24px;
}
.list-voucher .text-box h3 a {
  font-size: 24px;
  text-transform: uppercase;
  color: #bcad7a;
  font-weight: 600;
}
.list-voucher .text-box h3 a:hover {
  color: #a8975d;
}
.list-voucher .text-box .noi-dung {
  font-size: 18px;
  margin-bottom: 30px;
}
.list-voucher .text-box .mox-link {
  display: inline-block;
  padding: 12px 40px;
  background-color: #bcad7a;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}
.list-voucher .text-box .mox-link a {
  color: #fff;
  text-transform: uppercase;
}
.list-voucher .text-box .mox-link:hover {
  background-color: #a8975d;
}
.list-voucher .xem-them-de {
  margin-bottom: 63px;
  text-align: center;
}
.list-voucher .xem-them-de button[type="submit"] {
  height: 80px;
  width: 390px;
  border: 0;
  border-radius: 0;
  background-color: #bcad7a;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.list-voucher .xem-them-de button[type="submit"]:hover {
  background-color: #a8975d;
}
/*--------------------------------------------------------------
# Về chúng tôi
--------------------------------------------------------------*/
.about-us {
  padding: 68px 0 132px;
}
.about-us .title-about {
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman";
  color: #bcad7b;
  margin-bottom: 72px;
}
.about-us .us-content {
  clear: both;
  display: flex;
  align-items: center;
}
.about-us .us-content .cont-title {
  font-size: 18px;
  color: #282828;
}
.about-us .us-content .cont-title p {
  margin-bottom: 30px;
}
.about-us .us-content .cont-title p:last-child {
  margin-bottom: 15px;
}
.about-us .us-content:nth-child(odd) {
  flex-direction: row-reverse;
}
.about-us .us-content:nth-child(odd) .cont-img {
  float: right;
}
.about-us .us-content:nth-child(odd) .cont-title {
  padding-right: 70px;
}
.about-us .us-content:nth-child(even) .cont-title {
  padding-left: 70px;
}
/*--------------------------------------------------------------
# Câu hỏi thường gặp
--------------------------------------------------------------*/
.cau-hoi-thuong-gap {
  width: 1020px;
  max-width: 100%;
  padding: 45px 15px 100px;
}
.cau-hoi-thuong-gap .panel-group .panel + .panel {
  margin-top: 0;
}
.cau-hoi-thuong-gap .collapse.in {
  position: relative;
  top: -1px;
  border-top: 1px solid #fff;
}
.cau-hoi-thuong-gap .panel-default {
  border-color: transparent;
  box-shadow: none;
}
.cau-hoi-thuong-gap .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.cau-hoi-thuong-gap .panel-body {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  color: #282828;
}
.cau-hoi-thuong-gap .panel-group {
  margin-bottom: 0;
}
.cau-hoi-thuong-gap .panel-heading {
  padding: 18px 0;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #9f9f9f;
}
.cau-hoi-thuong-gap .panel-heading a {
  display: block;
  text-decoration: none;
  font-size: 40px;
  color: #bcad7b;
  font-family: "Times New Roman";
  position: relative;
}
.cau-hoi-thuong-gap .panel-heading a:before {
  content: "";
  position: absolute;
  background: url('../images/plus.png') no-repeat;
  width: 17px;
  height: 18px;
  right: 0;
  top: 10px;
}
.cau-hoi-thuong-gap .panel-heading a.active:before {
  content: "";
  background: url('../images/minus.png') no-repeat;
}
.cau-hoi-thuong-gap .panel-heading a span {
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  margin-right: 14px;
}
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
#footer .sign-up-for-the-offer {
  background: url(../images/banner-back.png) no-repeat;
}
#footer .sign-up-for-the-offer .container-foo {
  margin: auto;
  display: flex;
  align-items: center;
  height: 356px;
}
#footer .sign-up-for-the-offer .container-foo .row-foo {
  width: 100%;
  text-align: center;
}
#footer .sign-up-for-the-offer .container-foo .row-foo h3.text-dangky {
  font-size: 35px;
  margin-bottom: 36px;
  margin-top: 0;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: #bcad7a;
}
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal input[type="email"],
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal button[type="submit"] {
  width: 100%;
  height: 66px;
  border-radius: 0;
  border: 1px solid #bcad7a;
}
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal input[type="email"] {
  background-color: #272727;
  font-weight: 300;
  padding: 6px 20px;
  font-size: 18px;
  font-style: italic;
  outline: none;
  box-shadow: none;
}
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal input[type="email"]::placeholder {
  font-size: 18px;
  font-style: italic;
}
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal button[type="submit"] {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  background-color: #bcad7a;
  color: #fff;
  border-radius: 0;
  outline: none;
}
#footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal button[type="submit"]:hover {
  background-color: #a8975d;
}
#footer .custom-widget {
  clear: both;
}
#footer .custom-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer .custom-widget ul li {
  margin-bottom: 20px;
}
#footer .custom-widget ul li a {
  font-size: 16px;
  color: #bbbbbb;
}
#footer .custom-widget ul li a:hover {
  color: #bcad7a;
}
#footer .footer-top {
  background-color: #272727;
  padding: 62px 0;
}
#footer .footer-top .footer-sidebar .widget-top .widget-title {
  margin: 0;
  font-size: 22px;
  color: #bcad7a;
  font-family: "Times New Roman";
  text-transform: uppercase;
}
#footer .footer-top .footer-sidebar .widget-top hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #bbbbbb;
  width: 70%;
  float: left;
}
#footer .footer-bottom {
  background-color: #202020;
  padding: 68px 0;
}
#footer .footer-bottom .footer-sidebar .custom-widget p {
  font-size: 16px;
  color: #bbbbbb;
  margin-bottom: 44px;
}
#footer .footer-bottom .footer-sidebar .custom-widget {
  clear: both;
}
#footer .footer-bottom .footer-sidebar .custom-widget ul.social-links li {
  margin-bottom: 20px;
  float: left;
  margin-right: 15px;
}
#footer .footer-bottom .footer-sidebar .custom-widget ul.social-links li:last-child {
  margin-right: 0;
}
#footer .footer-bottom .footer-sidebar .custom-widget ul.social-links li a {
  font-size: 20px;
  color: #bbbbbb;
  width: 40px;
  line-height: 37px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid;
  display: block;
}
#footer .footer-bottom .footer-sidebar .custom-widget ul.social-links li a:hover {
  color: #bcad7a;
}
#footer .footer-amy-copyright {
  background-color: #080808;
  color: #b4b4b4;
  text-align: center;
  padding: 33px 0 44px;
  font-size: 16px;
}
/*--------------------------------------------------------------
# responsive
--------------------------------------------------------------*/
@media (max-width: 1199px) {
  .top-right {
    width: 460px;
  }
  .header-main .main-navigation .menu-container ul.menu > li > a {
    font-size: 17px;
  }
  .header-main .main-navigation .menu-container ul.menu > li {
    margin-right: 15px;
  }
  .voucher .course-cate .post-box {
    padding: 0px 31px 0 33px;
  }
  .voucher .course-cate .post-box .describe {
    font-size: 16px;
    height: 120px;
  }
  .voucher .course-cate .post-box .title {
    height: auto;
  }
  .sign-up-for {
    background-size: cover;
    height: 480px;
  }
  #footer .sign-up-for-the-offer {
    background-size: cover;
  }
  .banner-form-slider .form-submit-header {
    min-height: 400px;
  }
  .endow .container {
    padding: 24px 15px 26px;
  }
  .endow .container .box-icons .entry {
    font-size: 17px;
  }
  .list-hotel .contenr-hotel .text-box {
    padding-left: 22px;
  }
  .list-hotel .contenr-hotel .text-box .danh-gia,
  .list-hotel .contenr-hotel .text-box h3 {
    margin-bottom: 5px;
  }
  .list-hotel .contenr-hotel .text-box .map {
    margin-bottom: 10px;
  }
  .list-hotel .contenr-hotel .text-box .price .price-amount {
    font-size: 23px;
  }
  .list-hotel .contenr-hotel .text-box .noi-dung {
    margin-bottom: 10px;
  }
  .list-hotel .contenr-hotel .text-box .mox-link a {
    display: inline-block;
    padding: 8px 25px;
    font-size: 16px;
    margin-right: 30px;
  }
  .list-hotel .contenr-hotel .text-box .noi-dung {
    display: none;
  }
  .pagenavi .page-numbers li span,
  .pagenavi .page-numbers li a {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .list-hotel .contenr-hotel .text-box .prices {
    height: 50px;
  }
  .list-hotel .contenr-hotel .text-box .prices:before {
    content: "";
    background-size: 16px;
    width: 15px;
    height: 50px;
  }
  .list-hotel .contenr-hotel .text-box .prices:after {
    content: "";
    width: 15px;
    background-size: 16px;
    height: 50px;
  }
  .list-hotel .contenr-hotel .text-box .prices span {
    height: 40px;
    min-width: 137px;
    line-height: 39px;
    font-size: 20px;
  }
  .list-hotel .contenr-hotel {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    border: 1px solid #e2e2e2;
  }
  .result-count .sort .sap-xep {
    margin-right: 35px;
  }
  .result-count .sort .sap-xep ul,
  .result-count .sort .sap-xep select {
    height: 44px;
    width: 230px;
  }
  .result-count .tim-kiem-click {
    padding: 10px 16px 36px;
  }
  .result-count .sort .sap-xep ul li.init {
    line-height: 43px;
  }
  .result-count .sort .sap-xep .icons-dow {
    top: 25%;
  }
  .list-hotel .contenr-hotel .thumbnail-hotel .onsale span.cos {
    display: none;
  }
  .tim-kiem-nca {
    padding: 22px 14px;
  }
  .tim-kiem-nca form .col-e .form-group {
    margin-bottom: 16px;
  }
  .tim-kiem-nca form .col-e .form-group label {
    font-size: 13px;
  }
  .pagenavi .page-numbers li {
    margin-right: 18px;
  }
  .list-voucher .contenr-voucher .text-box {
    padding-right: 24px;
    padding-left: 50px;
  }
  .list-voucher .cac-tien-ich {
    margin-bottom: 12px;
  }
  .list-voucher .text-box .mox-link {
    display: inline-block;
    padding: 8px 30px;
  }
  .list-voucher .text-box .chuyen-muc {
    margin-bottom: 15px;
  }
  .list-voucher .text-box h3 {
    margin-bottom: 18px;
  }
  .list-voucher .text-box .noi-dung {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .about-us .us-content:nth-child(even) .cont-title {
    padding-left: 40px;
    padding-top: 30px;
  }
  .about-us .us-content .cont-title {
    font-size: 16px;
  }
  .about-us .us-content:nth-child(odd) .cont-title {
    padding-top: 30px;
    padding-right: 40px;
  }
}
@media (max-width: 991px) {
  .container-foo,
  .container-st {
    padding-right: 15px;
    padding-left: 15px;
  }
  .price-deptop,
  .list-hotel .contenr-hotel .text-box .map,
  .course-desktop,
  #footer-sidebar-2-2,
  #footer-sidebar-2-1,
  #footer .footer-top,
  .form-desktop,
  .header-top,
  .main-navigation,
  .endow .container .box-icons .entry,
  .voucher .course-cate .post-box .describe {
    display: none;
  }
  .header-main {
    padding: 28px 0;
  }
  .footer-bottom .footer-sidebar {
    text-align: center;
  }
  #footer .footer-bottom .footer-sidebar .custom-widget ul.social-links li {
    float: none;
    display: inline-block;
  }
  #footer .footer-bottom .footer-sidebar .custom-widget p {
    margin-bottom: 18px;
  }
  #footer .footer-bottom .footer-sidebar .custom-widget p br {
    display: none;
  }
  #footer .footer-bottom .footer-sidebar .custom-widget p span {
    display: block;
  }
  #footer .footer-bottom {
    padding: 46px 0;
  }
  .voucher .course-cate .post-box {
    width: 55%;
  }
  .voucher .course-cate .thumb-post {
    width: 45%;
  }
  .voucher .course-cate .post-box .title {
    height: 106px;
  }
  .logo-main-menu {
    display: flex;
    align-items: center;
  }
  .header-main .logo-header {
    float: none;
    flex-grow: 8;
    position: static;
    top: 0;
    text-align: center;
  }
  .phone-header a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: #bcad7a;
    font-weight: bold;
  }
  .phone-header a i {
    font-size: 22px;
    margin-right: 5px;
  }
  .form-mobile {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .form-mobile .form-group {
    margin-right: 1px;
  }
  .form-mobile .submit-form,
  .form-mobile .form-group {
    width: 50%;
    margin-bottom: 0;
  }
  .form-mobile .submit-form input[type="text"],
  .form-mobile .form-group input[type="text"] {
    height: 66px;
    border-radius: 0;
    border: 0;
    color: #a3a3a3;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 20px;
    font-style: italic;
  }
  .form-mobile .submit-form input[type="text"]::placeholder,
  .form-mobile .form-group input[type="text"]::placeholder {
    color: #a3a3a3;
    font-size: 18px;
    font-style: italic;
  }
  .form-mobile .submit-form button[type="submit"],
  .form-mobile .form-group button[type="submit"] {
    width: 100%;
  }
  .tim-kiem-nca form .col-e {
    width: 33.33%;
    margin-bottom: 23px;
  }
  .tim-kiem-nca form .col-e:nth-child(3n+1) {
    clear: left;
  }
  .baner-archive .entry-title h1.page-title {
    font-size: 47px;
  }
  .list-hotel .contenr-hotel .thumbnail-hotel .onsale span {
    height: 30px;
    line-height: 31px;
    padding: 0 14px;
    font-size: 16px;
  }
  .result-count .sort p {
    font-size: 15px;
    margin-right: 16px;
  }
  .list-hotel {
    padding-top: 30px;
  }
  .result-count .sort p {
    padding-top: 10px;
    font-size: 14px;
    margin-right: 10px;
    float: left;
    width: 20%;
  }
  .search-sort .sort {
    width: 74%;
    float: left;
  }
  .form-sap-xep {
    width: 80%;
  }
  .result-count .tim-kiem-click {
    width: 26%;
  }
  .result-count .tim-kiem-click a {
    font-size: 14px;
  }
  .result-count {
    border: none;
  }
  .result-count .tim-kiem-click {
    border-bottom-color: #fff;
    padding: 10px 8px 36px;
  }
  .result-count .sort .sap-xep {
    margin-right: 0;
    padding-right: 35px;
    width: 50%;
  }
  .result-count .sort .sap-xep ul,
  .result-count .sort .sap-xep select {
    width: 100%;
  }
  .list-voucher .contenr-voucher .thumbnail-voucher img {
    object-fit: cover;
    height: 328px;
  }
  .list-voucher {
    margin-top: 26px;
  }
  .about-us .us-content:nth-child(odd) .cont-title {
    padding-top: 20px;
    padding-right: 25px;
  }
  .about-us .us-content:nth-child(even) .cont-title {
    padding-left: 25px;
    padding-top: 20px;
  }
  .about-us .us-content .cont-title {
    font-size: 14px;
  }
  .about-us .us-content .cont-img img {
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 800px) {
  .result-count .tim-kiem-click {
    padding: 6px 8px 26px;
  }
  .result-count .sort .sap-xep .icons-dow {
    top: 17%;
  }
  .result-count .sort .sap-xep ul li.init {
    line-height: 33px;
    padding-left: 10px;
    padding-right: 25px;
  }
  .result-count .sort .sap-xep ul,
  .result-count .sort .sap-xep select {
    height: 35px;
  }
  .result-count .sort .sap-xep ul,
  .result-count .sort .sap-xep select {
    font-size: 14px;
  }
  .result-count .sort .sap-xep select {
    padding-left: 10px;
    padding-right: 25px;
  }
  .search-sort .sort {
    width: 70%;
  }
  .result-count .tim-kiem-click {
    width: 30%;
  }
  .result-count .sort p {
    font-size: 12px;
  }
  .list-hotel .thumbnail-hotel img {
    height: 256px;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .sign-up-for .page-de .text-fd,
  .title-fieldset fieldset legend span,
  .banner-form-slider .form-submit-header .container-st .text-form-header span {
    font-size: 22px;
  }
  .banner-form-slider .form-submit-header .container-st .text-form-header {
    font-size: 42px;
  }
  .form-mobile {
    width: 65%;
    margin: auto;
  }
  .form-mobile .submit-form input[type="text"],
  .form-mobile .form-group input[type="text"] {
    height: 44px;
    font-size: 14px;
    font-style: italic;
  }
  #footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal input[type="email"]::placeholder,
  .form-mobile .form-group input[type="text"]::placeholder,
  .form-mobile .submit-form input[type="text"]::placeholder {
    font-size: 14px;
  }
  #footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal input[type="email"],
  #footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal button[type="submit"],
  .banner-form-slider .form-submit-header .container-st .submit-form button[type="submit"] {
    font-size: 14px;
    width: 100%;
    height: 44px;
  }
  .title-fieldset fieldset legend {
    padding: 0 27px;
    top: -13px;
    font-size: 33px;
  }
  .title-fieldset fieldset .thse {
    padding: 0 55px 16px;
  }
  #footer .sign-up-for-the-offer .container-foo .row-foo h3.text-dangky,
  .voucher h2.title-voucher,
  .sign-up-for .page-de .title-favorably,
  .destination .row-dd .title-destination {
    font-size: 33px;
  }
  .destination .row-dd .list-post-tab .nav-tabs li a {
    font-size: 15px;
    padding: 10px 12px;
  }
  .sign-up-for .page-de .link-mo {
    font-size: 17px;
    padding: 10px 35px;
  }
  .sign-up-for {
    height: 340px;
  }
  .voucher h2.title-voucher {
    margin-bottom: 36px;
  }
  .voucher {
    padding: 30px 0;
  }
  .voucher .course-cate .post-listing {
    margin-bottom: 35px;
  }
  .voucher .course-cate .thumb-post {
    width: 35%;
  }
  .voucher .course-cate .post-box {
    width: 65%;
  }
  .voucher .course-cate .post-box a.text-post-link {
    padding: 5px 28px;
    font-size: 14px;
  }
  .voucher .course-cate .post-box .title {
    height: 88px;
  }
  .voucher .course-cate .post-box .taxonomy {
    padding: 1px 16px;
  }
  #footer .sign-up-for-the-offer .container-foo {
    height: 270px;
  }
  .sign-up-for-the-offer .form-horizontal {
    padding-right: 25px;
    padding-left: 25px;
  }
  .result-count .sort .sap-xep {
    padding-right: 8px;
  }
  .result-count .sort .sap-xep:last-child {
    padding-right: 0;
  }
  .result-count .sort .sap-xep .icons-dow {
    width: 22px;
  }
  .result-count .tim-kiem-click,
  .search-sort .sort {
    width: 100%;
    float: none;
  }
  .result-count .tim-kiem-click {
    margin-top: 16px;
    padding-right: 0;
    padding-left: 0;
    padding: 6px 8px 10px;
    border-bottom-color: #afafaf;
  }
  .result-count .tim-kiem-click a {
    display: block;
    text-align: center;
    border-bottom: 0;
  }
  .list-hotel .contenr-hotel .text-box .mox-link a {
    margin-right: 0px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
  }
  .list-hotel .contenr-hotel .text-box {
    padding-right: 10px;
  }
  .list-hotel .contenr-hotel .text-box .danh-gia,
  .list-hotel .contenr-hotel .text-box h3 {
    margin-bottom: 10px;
  }
  .pagenavi .page-numbers li {
    margin-right: 4px;
  }
  .pagenavi .page-numbers li span,
  .pagenavi .page-numbers li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .baner-archive img {
    object-fit: cover;
    height: 200px;
  }
  .list-voucher .text-box .noi-dung {
    display: none;
  }
  .list-voucher .cac-tien-ich .tien-ich {
    margin-right: 15px;
  }
  .list-voucher .contenr-voucher .text-box {
    padding-right: 15px;
    padding-left: 15px;
  }
  .list-voucher .contenr-voucher .thumbnail-voucher img {
    height: 260px;
  }
  .list-voucher .text-box .mox-link {
    padding: 5px 22px;
    font-size: 12px;
  }
  .list-voucher .cac-tien-ich {
    margin-bottom: 30px;
  }
  .list-voucher .contenr-voucher {
    margin-bottom: 30px;
  }
  .list-voucher .xem-them-de button[type="submit"] {
    height: 40px;
    width: 210px;
    font-size: 16px;
  }
  .about-us .us-content:nth-child(odd) .cont-img {
    float: none;
  }
  .about-us .us-content .cont-img img {
    height: auto;
  }
  .about-us {
    padding: 44px 0 80px;
  }
  .about-us .us-content .cont-title,
  .about-us .us-content .cont-img {
    padding-left: 0;
    padding-right: 0;
  }
  .about-us .us-content:nth-child(odd) .cont-title,
  .about-us .us-content:nth-child(even) .cont-title {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    text-align: justify;
  }
  .cau-hoi-thuong-gap .panel-heading {
    padding: 10px 0;
  }
  .cau-hoi-thuong-gap .panel-heading a {
    font-size: 30px;
  }
  .cau-hoi-thuong-gap .panel-heading a span {
    font-size: 24px;
  }
  .cau-hoi-thuong-gap .panel-heading a:before {
    top: 7px;
  }
  .cau-hoi-thuong-gap .panel-heading a:before {
    width: 14px;
    background-size: 13px;
    height: 15px;
    top: 8px;
  }
  .cau-hoi-thuong-gap .panel-heading a.active:before {
    background-size: 13px;
  }
  .about-us .us-content {
    display: block;
  }
}
@media (max-width: 500px) {
  .banner-form-slider .form-submit-header .container-st .row-st {
    padding-top: 3%;
  }
  .banner-form-slider .form-submit-header .container-st .text-form-header span {
    font-size: 20px;
  }
  #footer .sign-up-for-the-offer .container-foo .row-foo h3.text-dangky,
  .voucher h2.title-voucher,
  .sign-up-for .page-de .title-favorably,
  .destination .row-dd .title-destination,
  .banner-form-slider .form-submit-header .container-st .text-form-header {
    font-size: 25px;
    margin-bottom: 26px;
  }
  .form-mobile {
    width: 100%;
  }
  .title-fieldset fieldset legend {
    padding: 0 20px;
    font-size: 25px;
  }
  .banner-form-slider .form-submit-header {
    min-height: 135px;
  }
  .endow .container .box-icons {
    margin-right: 12px;
  }
  .destination .row-dd .list-post-tab .nav-tabs li a {
    font-size: 12px;
    margin-right: 0px;
    padding: 10px 7px;
  }
  .sign-up-for .page-de .title-favorably {
    margin-bottom: 24px;
  }
  .sign-up-for {
    height: 280px;
  }
  .rating i,
  .sign-up-for .page-de .link-mo {
    font-size: 12px !important;
  }
  .voucher .course-cate .thumb-post {
    width: 44%;
  }
  .voucher .course-cate .post-box .title {
    height: auto;
  }
  .voucher .course-cate .post-box .title a {
    font-size: 18px;
  }
  .voucher .course-cate .post-box .taxonomy {
    margin-bottom: 14px;
  }
  .voucher .course-cate .post-box a.text-post-link {
    padding: 5px 15px;
    font-size: 12px;
  }
  .title-fieldset fieldset .thse {
    padding: 0 12px 16px;
    font-size: 14px;
  }
  .phone-header a i {
    font-size: 17px;
  }
  .phone-header a {
    font-size: 14px;
  }
  .header-main {
    padding: 8px 0;
  }
  .menu-icon .menu-open .icons {
    height: 3px;
    margin-bottom: 7px;
  }
  .menu-icon .menu-open {
    width: 33px;
  }
  .menu-icon {
    margin-right: 18%;
  }
  .destination .row-dd .list-post .post-contenr .media-list {
    padding: 8px 6px;
  }
  #footer .footer-amy-copyright {
    padding: 20px 0 20px;
    font-size: 14px;
  }
  .form-mobile .submit-form input[type="text"],
  .form-mobile .form-group input[type="text"],
  #footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal input[type="email"],
  #footer .sign-up-for-the-offer .container-foo .row-foo .form-horizontal button[type="submit"],
  .banner-form-slider .form-submit-header .container-st .submit-form button[type="submit"] {
    height: 35px;
  }
  .destination .row-dd .list-post-tab .nav-tabs li {
    margin-bottom: 5px;
  }
  .destination .row-dd .list-post .post-contenr .media-list h3.post-box-title a {
    font-size: 14px;
    line-height: 1.3;
  }
  .list-hotel .contenr-hotel .text-box h3 a {
    font-size: 23px;
  }
  .list-hotel .contenr-hotel .text-box .prices span {
    height: 30px;
    min-width: 95px;
    line-height: 28px;
    font-size: 15px;
  }
  .list-hotel .contenr-hotel .text-box .prices {
    height: 39px;
  }
  .list-hotel .contenr-hotel .text-box .prices:before {
    content: "";
    background-size: 13px;
    width: 11px;
    height: 39px;
  }
  .list-hotel .contenr-hotel .text-box .prices:after {
    content: "";
    width: 12px;
    background-size: 13px;
    height: 39px;
  }
  .list-hotel .contenr-hotel .text-box .mox-link a {
    padding: 6px 10px;
    font-size: 12px;
  }
  .list-hotel .thumbnail-hotel img {
    height: 200px;
  }
  .tim-kiem-nca form .col-e {
    width: 50%;
    margin-bottom: 23px;
  }
  .tim-kiem-nca form .col-e:nth-child(3n+1) {
    clear: none;
  }
  .tim-kiem-nca form .col-e:nth-child(2n+1) {
    clear: left;
  }
  .ket-qua-tim-kiem-khach-san .contenr-hotel,
  .list-hotel .contenr-hotel,
  .result-count .sort,
  .list-voucher .contenr-voucher {
    display: block;
  }
  .list-hotel .thumbnail-hotel img,
  .list-voucher .contenr-voucher .thumbnail-voucher img {
    height: auto;
  }
  .list-voucher .contenr-voucher .text-box {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .result-count .sort p {
    padding-top: 0;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .result-count {
    padding: 9px 0 0px;
  }
  .result-count .sort.sort-voucher .sap-xep,
  .list-voucher .contenr-voucher .text-box,
  .list-voucher .contenr-voucher .thumbnail-voucher,
  .form-sap-xep,
  .list-hotel .contenr-hotel .text-box,
  .list-hotel .contenr-hotel .thumbnail-hotel {
    width: 100%;
    float: none;
  }
  .list-hotel .contenr-hotel .text-box {
    padding: 15px;
    text-align: center;
  }
  .search-sort .sort.sort-voucher {
    display: flex;
    align-items: center;
  }
  .result-count .sort.sort-voucher p {
    margin-bottom: 0;
    width: 40%;
  }
  .about-us .title-about {
    font-size: 26px;
    margin-bottom: 35px;
  }
  .cau-hoi-thuong-gap .panel-heading a {
    font-size: 23px;
  }
  .cau-hoi-thuong-gap .panel-heading a span {
    font-size: 18px;
  }
  .cau-hoi-thuong-gap .panel-heading a.active:before,
  .cau-hoi-thuong-gap .panel-heading a:before {
    background-size: 10px;
  }
  .cau-hoi-thuong-gap .panel-body {
    font-size: 14px;
    text-align: justify;
  }
  .result-count .sort .sap-xep ul li:not(.init) {
    padding: 2px 10px;
  }
}
@media (max-width: 480px) {
  .sign-up-for {
    height: 220px;
  }
  .sign-up-for .page-de .text-fd,
  .sign-up-for .page-de .title-favorably {
    margin-bottom: 12px;
  }
  .voucher .course-cate .post-box {
    padding: 0px 8px 0 10px;
  }
  .voucher .course-cate .post-box .title a {
    font-size: 16px;
  }
  .voucher .course-cate .post-box .taxonomy {
    font-size: 12px;
  }
  #footer .sign-up-for-the-offer .container-foo {
    height: 180px;
  }
  .logo-header img {
    max-height: 29px;
  }
  .endow .container {
    padding: 12px 15px 12px;
  }
  .destination,
  .title-fieldset {
    padding: 30px 0 30px;
  }
  .voucher .course-cate .post-listing {
    margin-bottom: 15px;
  }
  .baner-archive img {
    height: 132px;
  }
  .list-hotel .contenr-hotel .text-box .mox-link a {
    padding: 6px 10px;
    width: 49%;
    font-size: 14px;
  }
  .baner-archive .entry-title h1.page-title {
    font-size: 36px;
  }
  .tim-kiem-nca form .col-e .form-group label {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .container-foo,
  .container-st {
    width: 100%;
    max-width: 100%;
  }
  .container {
    width: 100%;
  }
  .about-us .us-content .cont-title,
  .about-us .us-content .cont-img {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .list-hotel .contenr-hotel .text-box .prices.price-mobi,
  .phone-header,
  .main-navigation-mobile,
  .course-mobile,
  .form-mobile,
  .menu-icon {
    display: none;
  }
  .container-foo {
    width: 634px;
    max-width: 100%;
  }
  .container-st {
    width: 932px;
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1412px;
    max-width: 100%;
  }
  .container.cau-hoi-thuong-gap {
    width: 990px;
    max-width: 100%;
  }
}
@media (min-width: 1367px) {
  .banner-form-slider .form-submit-header .container-st .row-st {
    padding-top: 17%;
  }
  .banner-form-slider .form-submit-header {
    min-height: 650px;
  }
}
@media (min-width: 1400px) {
  #footer .footer-bottom .footer-sidebar .custom-widget ul.social-links li {
    margin-right: 26px;
  }
}
.rating i {
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  margin-right: 4px;
}
