<style type="text/css">
    table { vertical-align: top; }
    tr    { vertical-align: top; }
    td    { vertical-align: top; }
    h1,h2{margin: 0;}
    p{margin: 1px 0px; color: #222; font-size: 14px}

    table#table-2,#table-2 th,#table-2 td {
        border: none;
        border-collapse: collapse;
    }

    #table-2 th,#table-2 td {
        padding: 10px 15px;
    }

    table#table-3,#table-3 th,#table-3 td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    #table-3 th,#table-3 td {
        padding: 10px 15px;
    }
</style>
<page backcolor="#fff" backimgx="center" backimgy="bottom" backimgw="100%" backtop="42px" backleft="16px" backright="16px" backbottom="42px" footer="page" style="font-family: freeserif;font-size: 12pt">
    <bookmark title="Lettre" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%;">
        <tr>
            <td style="text-align: center; width: 40%">
                <table cellspacing="0" style="width: 100%; text-align: center;">
                    <tr style="text-align: center;">
                        <td style="text-align: center">
                            <img src="http://ngocminh.test/FILES/source/logo-images.jpg" alt="Trang chủ" title="Trang chủ" width="160">
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td style="text-align: center">
                            <b>Mã đơn : _madon</b>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td style="text-align: center">
                            Hà Nội, Ngày _ngaydenkham
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 20%;"></td>
            <td style="text-align: right; width: 40%">
                <table cellspacing="0" style="width: 100%; text-align: right;">
                    <tr>
                        <td style="text-align: center; font-size: 16px; font-weight: bold">
                            _name_company
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            _address_company
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            _hotline_company
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            Email: <a target="_blank" href="mailto:_email">_email</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            Website: <a target="_blank" href="_website">_website</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table cellspacing="0" style="width: 100%; text-align: center;">
        <tr>
            <td style="width: 30%; text-align: left;font-weight: bold">
                Khách hàng
            </td>
            <td style="width: 70%; text-align: left; font-weight: bold">
                : _tenkhachhang
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left;">
                Địa chỉ
            </td>
            <td style="width: 70%; text-align: left; ">
                : _diachikhachhang
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left;">
                Điện thoại
            </td>
            <td style="width: 70%; text-align: left; ">
                : _sdtkhachhang
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left;">
                Ngày khám lại
            </td>
            <td style="width: 70%; text-align: left; ">
                : _ngaykhamlai
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left;">
                Thông số PD
            </td>
            <td style="width: 70%; text-align: left; ">
                : _tspd
            </td>
        </tr>
        _ghichu
    </table>
    <p style="text-align: center;padding: 10px; font-size: 17px; font-weight: bold"><b>KẾT QUẢ KHÁM & KIỂM TRA THỊ LỰC</b></p>

    <table id="table-3" cellspacing="0" style="width: 100%;">

        <tr id="th-header">
            <th style="width: 15%; text-align:center;  text-transform: uppercase; font-size: 12px;"></th>
            <th style="width: 15%; text-align:center;  text-transform: uppercase; font-size: 12px;">Thị lực</th>
            <th style="width: 35%; text-align:center;  text-transform: uppercase; font-size: 12px;">Thông số kính</th>
            <th style="width: 20%; text-align:center;  text-transform: uppercase; font-size: 12px;">Thị lực có kính</th>
            <th style="width: 15%; text-align:center;  text-transform: uppercase; font-size: 12px;">Nhãn áp</th>
        </tr>
        <tr>
            <td style=" text-align:center; font-size: 13px;">
                Mắt phải
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mpthiluc
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mptskinh
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mptlcokinh
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mpna
            </td>
        </tr>
        <tr>
            <td style=" text-align:center; font-size: 13px;">
                Mắt trái
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mtthiluc
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mttskinh
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mttlcokinh
            </td>
            <td style=" text-align:center; font-size: 13px;">
                _mtna
            </td>
        </tr>

    </table>
    <br>
    <p style="text-align: center;padding: 10px;  font-size: 17px; font-weight: bold"><b>HÓA ĐƠN BÁN HÀNG</b></p>

    <table id="table-3" cellspacing="0" style="width: 100%;">

        <tr id="th-header">
            <th style="width: 10%; text-align:center;  text-transform: uppercase; font-size: 11px;">TT</th>
            <th style="width: 40%; text-align:left;  text-transform: uppercase; font-size: 11px;">Sản phẩm</th>
            <th style="width: 10%; text-align:center;  text-transform: uppercase; font-size: 11px;">SL</th>
            <th style="width: 20%; text-align:center;  text-transform: uppercase; font-size: 11px;">Đơn giá</th>
            <th style="width: 20%; text-align:center;  text-transform: uppercase; font-size: 11px;">Thành tiền</th>
        </tr>
        _dataSanPham


    </table>
    <br>
    <table cellspacing="0" style="width: 100%; text-align: center;">
        <tr>
            <td style="width: 20%; text-align: left;">
                Khuyến mại
            </td>
            <td style="width: 40%; text-align: left; ">
                : _khuyenmai
            </td>
            <td style="width: 40%; text-align: center; ">
                Kính Mắt Ngọc Minh
            </td>
        </tr>
        <tr>
            <td style="width: 20%; text-align: left;">
                Đặt cọc
            </td>
            <td style="width: 40%; text-align: left; ">
                : _datcoc
            </td>
            <td style="width: 40%; text-align: center; font-size: 9px;">
                Người Lập Đơn
            </td>
        </tr>
        <tr>
            <td style="width: 20%; text-align: left; font-weight: bold">
                Công nợ
            </td>
            <td style="width: 40%; text-align: left; font-weight: bold">
                : _congno
            </td>

            <td style="width: 40%; text-align: center; font-size: 14px;">
                _authuser
            </td>
        </tr>
        <tr>
            <td style="width: 20%; text-align: left; font-weight: bold">
                Tổng tiền thanh toán
            </td>
            <td style="width: 40%; text-align: left; font-weight: bold">
                : _tongtien
            </td>
        </tr>

    </table>
    <br>
    <br>
    <br>
    Bảo hành 06 tháng áp dụng cho các lỗi do nhà sản xuất đối với sản phẩm. Không bảo hành đối với các sản phẩm đã bị trầy, xước, cháy, nổ, bong sơn, lão hóa, thay đổi hình dáng sản phẩm... trong quá trình sử dụng. Bảo trì trọn đời sản phẩm trên tất cả các chi nhánh của NgocMinh Optic.
    <br>
    <br>
    Chi tiết trong Website <a target="_blank" href="http://www.ngocminhoptic.com/">www.ngocminhoptic.com/</a>
    <br>
    <br>
    Bán buôn liên hệ hotline: <b>Mr. Hiệp - 0915.441.113</b> (zalo - viber)
</page>
